<main class="mdl-layout__content">
  <div class="page-content">
    <div class="banner">
      <p class="banner-text">
        Get the latest news from various sources!
      </p>
      <p class="banner-text-small">
        Powered by <a href="http://duckduckgo.com/" target="_blank">DuckDuckGo</a>
      </p>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect scrape-btn">
        Scrape New Articles
      </button>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect clear-btn">
        Clear Articles
      </button>
    </div>
    <div class="articles">
      {{#each articles}}
      <div data-id="{{this._id}}" class="mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h3 class="mdl-card__title-text">
            <a class="article-link" target="_blank" href="{{this.url}}">{{this.headline}}</a>
          </h3>
        </div>
        <div class="mdl-card__supporting-text">
          {{this.summary}}
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            <img width="16" height="16" src="{{this.sourceImg}}" alt="source-image">
            {{this.source}}
          </a>
        </div>
        <div class="mdl-card__menu">
          <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect save-btn">
            <i class="material-icons">save</i>
          </button>
        </div>
      </div>
      {{/each}} 
      {{#unless articles.length}}
      <div class="no-news">
        <h6>It seems like there are no new articles, try clicking the scrape button!</h6>
      </div>
      {{/unless}}
    </div>
  </div>
</main>